body {
        font-family: "fira-sans";
    background-color: rgb(15,15,15);
    
}

div#container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
    background: url(images/background.png) no-repeat center center fixed;    
    -webkit-background-size: cover;   background-size: cover;
}

div#header {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 13px;
    left: 0px;
    -webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
    font-weight: 100;
    padding-bottom: 0%;
}

.mobileNavigation {
     
    
    height: 100%;
    width: 24%;
    float: left;
    position: relative;
    margin-left: -1px;
}

div#logo {
    width: 75%;
    height: 100%;
    float: left;
    overflow: visible;
    overflow-y: hidden;
    overflow-x: visible;
    position: relative;
    margin-top: -7px;
    -webkit-transform: translateX(7%);
    -ms-transform: translateX(7%);
    transform: translateX(7%);
    font-weight: 100;
}

img.mobileMenu {
    width: 21px;
    padding-top: 23px;
    margin-right: -1px;
}

a.mobileMenuText {
    width: 50px;
    color: white;
    font-size: 13px;
    display: block;
    top: 0px;
    position: absolute;
    top: 25px;
    left: 24px;
    text-decoration: none;
}

#aboutNav .mobileMenuText {
    text-align: right;
}

img.logo {
    height: 91%;
    padding-top: 14px;
    margin-left: -8px;
    margin-left: 0%;
}

a.logoText {
    position: absolute;
    color: white;
     
    display: inline-block;
    height: 100%;
    font-size: 22px;
    top: 25px;
    text-decoration: none;
    left: 69px;
}


@media (max-width: 340px) {

#logo {
top: -7px;
    
}

 img.logo {
    height: 79%;
  
    margin-top: 8px;
}
   
    
    a.logoText {
 
    font-size: 18px;
   
    top: 34px;
    left: 61px;
}
    
    

    
    
    
}




    @media (max-width: 310px) {


    
    a.logoText {
 
    font-size: 14px;
   
    top: 38.5px;
    
}
    
    
}


.right img {
    float: right;
}

.right a {
    position: absolute;
    right: 24px;
    left: initial;
    bottom: 30px;
}

a.logoText {}

div#contentContainer {
    position: absolute;
    top: 80px;
    width: 100%;
    left: 0;
    
    overflow: hidden;
    height: 100%;
    height: -webkit-calc(100% - 75px);
    height: -webkit-calc(100% - 90px);
    height: -webkit-calc(100% - 165px);
    height: calc(100% - 165px);
}

.right {

    position: absolute;
    

    top: 0px;
    right: 0px;



}

.third {
    width: 86%;
    height: 95%;
    overflow-y: scroll;
    float: left;
    padding: 7%;
    top: 0px;
    position: absolute;
}



#podcasts {
 left: 100%;   
}

#about {
 left: 200%;   
}


h3 {
    font-family: "fira-sans";
    font-weight: 100;
    font-size: 28px;
    color: white;
    line-height: 135%;
    margin-bottom: 7px;
    margin-top: -8px;
}

.button {
    background-color: rgb(240,104,36);
    display: inline-block;
    padding: 15px;
    padding-left: 36px;
    padding-right: 36px;
    color: white;
}

p#stations {
    padding: 8px;
    margin-top: 0px;
}




.podcastContainer {
    width: 100%;
    margin-bottom: 62px;
}

h4 {
    color: white;
    font-size: 21px;
    font-weight: 100;
    text-decoration: underline;
    margin-bottom: 20px;
    width: 78%;
}

.podcastContent {
    width: 100%;
}

.podcastImage {
width: 68%;
background-color: black;
min-height: 131px;
    -webkit-background-size: cover;
background-size: cover;
}

p.excerpt {
    color: white;
    font-weight: 200;
    font-size: 14px;
    width: 95%;
    margin-left: 0%;
    margin-bottom: 19px;
}

a.readMore {
    color: white;
    float: right;
    margin-right: 11px;
    font-size: 16px;
    font-weight: 100;
}

.podcastImage img {
    width: 20%;
    margin-top: 35px;
    margin-left: 19%;
    opacity: 0.75;
}


.excerpt {
 color: white;
font-weight: 200;
font-size: 14px;
width: 95%;
margin-left: 0%;
margin-bottom: 19px;   
 max-height: 100px;
    overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}


.pButton {
 height: 58%; 
	
 margin-top: 12px;
 width: 40px;
	border: none;
	-webkit-background-size: 50% 50%;
	background-size: 50% 50%;
	background-position: center;   
}

.play{background: url('/images/play.svg') no-repeat;}
.pause{background: url('/images/pause.svg') no-repeat;}

div#musicPlayer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 85px;
}

div#player {
    width: 100%;
    height: 60%;
    background-color: rgba(0,0,0,.2);
}

div#audioplayer {
    width: 90%;
    height: 100%;
    padding-left: 7%;
}


div#queue {
    width: 100%;
    height: 40%;
    background-color: rgba(0,0,0,.3);
    position: absolute;
    top: 51px;
}

h5 {
    margin: 0px;
    color: white;
    font-weight: 200;
    padding-left: 6%;
    margin-top: 9px;
}